ul
  unless articles
    li No article
  for article in articles
    li
      a(href="#{url_for('blog.article', path=article.path)}")= article.title
    if article.meta.tags|length
      | Tagged:
      for article_tag in article.meta.tags
        a(href="#{url_for('blog.tag', tag=article_tag)}")= article_tag
        |&nbsp;

