doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,user-scalable=no")
    title
      block page_title
        // - empty block
    block page_meta
      // - empty block
    block page_head
      link(rel="stylesheet", type="text/css", href="css/main.css", media="screen")
  body
    block page_content
      // - empty block
    block page_scripts
      script(src="js/vendor/require.js" data-main="js/main")

